
* {
	padding: 0px;
	margin: 0px;
}
.imagemgrande {
	background-attachment: fixed;
	background-image: url(images/eolica.jpg);
	background-position: top center;
	color: white;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.grande {
	padding: 380px 0 320px;
	background-color: rgba(49, 45, 3, 0.747);
}
.textodobanner {
	font-size: 30px;
}
.textos {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	padding-right: 300px;
	padding-top: 20px;
	margin: auto;
	text-align: justify;
	padding-left: 300px;
}

.titulos {
	font-family: monospace;
	padding-top: 50px;
	font-size: 15px;
	text-align: center;
	
	
}
.titulosreferencia {
	font-family: monospace;
	padding-top: 70px;
	font-size: 15px;
	text-align: center;
	
	
}
.referencias {
	font-family: monospace;
	padding-top: 5px;
	font-size: 9px;
	text-align: center;
}

.itens {
	padding-left: 20px;
}
.aaa {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	padding-right: 300px;
	padding-top: 2000px;
	margin: auto;
	text-align: center;
	padding-left: 300px;
}

